/** Montserrat **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');


/**Cervo Neue - Black**/
@font-face {
  font-family: 'CervoNeue';
  src: url('fonts/CervoNeue-BlackNeue.eot?#iefix') format('embedded-opentype'),  
	   url('fonts/CervoNeue-BlackNeue.otf')  format('opentype'),
	   url('fonts/CervoNeue-BlackNeue.woff') format('woff'),
	   url('fonts/CervoNeue-BlackNeue.ttf')  format('truetype'),
	   url('fonts/CervoNeue-BlackNeue.svg#CervoNeue-BlackNeue') format('svg');
  font-weight: 900;
  font-style: normal;
}


/**Cervo Neue - Semi Bold**/
@font-face {
  font-family: 'CervoNeue';
  src: 	url('fonts/CervoNeue-SemiBoldNeue.eot?#iefix') format('embedded-opentype'),  
	  	url('fonts/CervoNeue-SemiBoldNeue.otf')  format('opentype'),
	    url('fonts/CervoNeue-SemiBoldNeue.woff') format('woff'), 
	  	url('fonts/CervoNeue-SemiBoldNeue.ttf')  format('truetype'), 
	  	url('fonts/CervoNeue-SemiBoldNeue.svg#CervoNeue-SemiBoldNeue') format('svg');
  font-weight: 600;
  font-style: normal;
}

.font-weight-semibold{font-weight: 600;}

