@charset "UTF-8";

@font-face {
  font-family: "uh-iconos-custom";
  src:url("fonts/uh-iconos-custom.eot");
  src:url("fonts/uh-iconos-custom.eot?#iefix") format("embedded-opentype"),
    url("fonts/uh-iconos-custom.woff") format("woff"),
    url("fonts/uh-iconos-custom.ttf") format("truetype"),
    url("fonts/uh-iconos-custom.svg#uh-iconos-custom") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "uh-iconos-custom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "uh-iconos-custom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\78";
}
.icon-arrow-left:before {
  content: "\2190";
}
.icon-arrow-right:before {
  content: "\2192";
}
.icon-instagram:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\66";
}
.icon-play:before {
  content: "\3e";
}
