////// COLORES //////

$blue: 		#075FA5; //primary
$orange:	#F37732; //secondary
$lime:		#B7D333;
$sky:		#00A4DF;
$frost:		#E3F5FC;
$cian:		#55CDDC;
$yellow:  	#ffc107;

$secondary: $orange;

//Incluir colores al tema
$theme-colors: (
    "lime":    		$lime,
	"sky":    		$sky,
	"frost":    	$frost,
	"cian":   		$cian
);

$body-color:	#666;


////// TYPOGRAFIA //////
$font-primary:				'Montserrat', sans-serif;
$font-secondary:			'CervoNeue', sans-serif;
$font-third:				'Montserrat', sans-serif;

$font-weight-semibold:		600;
$font-weight-bolder:		900;

$font-size-base:			1rem;
$h1-font-size:              $font-size-base * 3.5;
$h2-font-size:              $font-size-base * 3;
$h3-font-size:				$font-size-base * 2.4;

$font-family-base: 			$font-primary;
$headings-font-family:      $font-secondary;
$headings-font-weight:		$font-weight-bolder;
$line-height-base:			1.2;

 
////// MEDIDAS //////
$menu-height-lg:	74px;
$menu-height-sm:	48px;

$grid-breakpoints: (
  	xs: 0,
  	sm: 576px,
  	md: 768px,
  	lg: 992px,
  	xl: 1200px,
	xxl: 1441px
);


////// NAVBAR //////
$navbar-light-color:				$body-color;
$navbar-light-hover-color:          darken($navbar-light-color, 50%);
$navbar-light-active-color:			$secondary;
$navbar-light-toggler-border-color: transparent;



////// CARDS ///////
$card-border-width:		0;
$card-bg:				transparent;
$card-cap-bg:			transparent;


///// SLIDERS /////
$slick-font-family: 	"uh-iconos-custom" !default;
$slick-arrow-color:		$body-color;
$slick-loader-path: 	"../img/";


//// FORMS /////
$custom-control-indicator-border-color: 			white;
$custom-control-indicator-checked-border-color: 	$orange;
$custom-control-indicator-checked-bg:				$orange;
$form-feedback-invalid-color:						$yellow;
$form-feedback-valid-color:							white;


////// OTROS //////

$enable-rounded: false;