//Custom variables
@import "my-variables"; 

//Incluir el bootstrap
@import "bootstrap/scss/bootstrap";


//CUSTOM
.btn{
	font-family: $font-secondary;
	font-weight: $font-weight-bolder;
	text-transform: uppercase;
	color: $white;
	line-height: 1;
	letter-spacing: 1px;
	
	&.btn-round{
		font-family: $font-third;
		font-weight: $font-weight-normal;
		border-radius: 10px;
		font-size: 0.8rem;
		padding: 12px 20px !important;
		letter-spacing: 0;
	}
	
	&:hover{
		color: $white;
		box-shadow: $box-shadow;
	}
	
	&.active{
		color: white !important;
		
		&[data-textomenos]{
		
			span{
				display: none;
			}

			&::before{
				content: attr(data-textomenos);
			}
		}
	}
}

h1, h2, h3, h4, h5{
	text-transform: uppercase;
}
h4, h5{
	font-family: $font-third;
}
a.underline{
	text-decoration: underline;
}

@include media-breakpoint-down(md) {
	h1{font-size: $font-size-base * 2.5;}
	h2{font-size: $font-size-base * 2;}
	h3{font-size: $font-size-base * 1.5;}
}

[class^="icon-"],
[class*=" icon-"]{
	height: 1em;
	display: inline-block;
	line-height: 1;
}

.font-primary{
	font-family: $font-primary;
} 		
.font-secondary{
	font-family: $font-secondary;
}
.font-third{
	font-family: $font-third;
}

:focus{
	outline: none;
}

.wrap{
	max-width: 1140px;
}

.mw-600{max-width: 600px;}

figure{
	margin-bottom: 0;
}

img{
	max-width: 100%;
	height: auto;
}


/***** STYLE ******/
html{
	scroll-behavior: smooth;
}

#hdr{
	position: relative;
	padding-bottom: $menu-height-sm;
	z-index: 10;
	background: url("../img/bg/bg-header.jpg") center center;
	background-size: cover;
	
	.top{
		border-bottom: solid 20px $lime;
	}
	
	@include media-breakpoint-down(md) {
		.top{
			border-bottom: solid 10px $lime;
		}
	}
	
	.logo{
		width: 500px;
		max-width: 60%;
	}
	
	@include media-breakpoint-up(lg) {
        padding-bottom: $menu-height-lg;
    }
}

#menu{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $menu-height-sm;
	z-index: 20;
	background-color: white;
	
	.navbar{
		box-shadow: $box-shadow;
	}
	
	.navbar-nav{
		font-size: 18px;
		padding: 20px 0 10px 0;
	}
	
	.nav-item{
		position: relative;
	}
	
	.nav-link{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	/*@include media-breakpoint-up(md) {
		
		.navbar-nav{
			font-size: 18px;
			padding: 0;
		}
		.nav-item{
			border-right: 1px solid #CFCFCF;
		}
		.nav-link{
			padding: 24px 15px;
		}
    }*/
	
	@include media-breakpoint-up(lg) {
        height: $menu-height-lg;
		
		.navbar-nav{
			font-size: 18px;
			padding: 0;
		}
		.nav-item{
			border-right: 1px solid #CFCFCF;
			
			&:last-child{
				border-right: none;
			}
		}
		.nav-link{
			padding: 18px 15px;
		}
    }
	
	.navbar-toggler{
		width: 36px;
		padding: 0;
		outline: none !important;
		
		&::after, 
		&::before, 
		.nav-icon {
		  	background-color: #666;
		  	border-radius: 2px;
		  	content: '';
		  	display: block;
		  	height: 4px;
		  	margin: 6px 0;
		  	transition: all .2s ease-in-out;
		}
		
		&:not(.collapsed){
			&::before {
			  	transform: translateY(10px) rotate(135deg);
			}

			&::after {
			  	transform: translateY(-10px) rotate(-135deg);
			}

			.nav-icon {
			  	transform: scale(0);
			}
		}
	}
	
	.logo-mobile-fixed{
		position: absolute;
		right: 10px;
		top: 6px;
		height: 40px;
		opacity: 0;
		transition: opacity 0.3s ease;
		
		img{
			height: 100%;
			width: auto;
		}
	}
	
	&.fixed-hdr{
		position: fixed;
		bottom: auto;
		top: 0;
		
		.logo-mobile-fixed{
			opacity: 1;
		}
	}
}

.banner-info{ 
	background-color: black;
	background-position: center center;
	background-size: cover;
	
	/*.info{
		min-height: 630px;
	}*/
	
	@include media-breakpoint-up(md) {
        .info{
			min-height: 430px;
		}
    }
	
	/*@include media-breakpoint-up(lg) {
        .info{
			min-height: 530px;
		}
    }*/
	
	@include media-breakpoint-up(xxl) {
        .info{
			min-height: 630px;
		}
    }
	
	&>.inner{
		@include gradient-x($start-color: rgba(0,0,0,0.5), $end-color: rgba(0,0,0,0), $start-percent: 20%, $end-percent: 100%);
		
		&.text-right{
			@include gradient-x($start-color: rgba(0,0,0,0), $end-color: rgba(0,0,0,0.5), $start-percent: 0%, $end-percent: 80%);
		}
	}
	
	&.bg-uh-especial{
		background-image: url("../img/bg/01-que-hace-especial.jpg");
		background-position: center bottom;
	}
	&.bg-pais-unico{
		background-image: url("../img/bg/02-pais-unico.jpg");
	}
	&.bg-financiamientos{
		background-image: url("../img/bg/03-UH-te-apoya.jpg");
		background-position: right center;
	}
}



.card{
	text-align: center;
	align-items: center;
	padding: $card-spacer-y $card-spacer-x;
	
	&.card-info, &.card-contact{
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.header, .header-image{
		width: 100%;
		margin-bottom: 20px;
	}
	
	.header-image{
		max-width: 200px;
		
		.img{
			position: relative;
			padding-bottom: 100%;
			border-radius: 50%;
			
			figure{
				position: absolute;
				top: 4%;
				left: 4%;
				width: 92%;
				height: 92%;
				background-color: $white;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				border-radius: 50%;
				margin: 0;
			}
		}
	}	
		
	&.card-contact{
		.header-image .img figure{
			top: 5%;
			left: 5%;
		}
	
		.card-title{
			font-family: $font-third;
			font-weight: $font-weight-bold;
			font-size: 1em;
		}
	}
	
	&.card-pais{
		margin-bottom: 30px;
		
		.header figure{
			height: 150px;
			
			img{
				max-height: 100%;
			}
		}
		
		.card-title{
			font-family: $font-secondary;
			font-weight: $font-weight-semibold;
			font-size: 1.8rem;
		}
	}
	
	&.card-categoria-programa{
		padding: 0;
		
		.card-title{
			min-height: 60px;
			font-size: 1.5rem;
		}
		
		.card-body{
			
			.btn.active{
				background-color: $yellow !important;
				border-color: $yellow !important;
			}
			
			.btn.btn-cian.active, .btn.btn-cian:active, .btn.btn-cian:hover{
				background-color: $orange !important;
				border-color: $orange !important;
			}
		}
		
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
			
			.card-title{
				min-height: 0;
			}
		}
	}
	
	&.card-programa{
		padding: 0;
		color: $white;
		box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.3);
		transition: background-color ease 0.3s;
		margin-bottom: 30px;
		
		.card-img-top{
			height: 200px;
			background-position: center center;
			background-size: cover;
			margin-bottom: 0;
		}
		
		.card-body{
			position: relative;
			height: 120px;
			width: 100%;
			
			.info{
				padding: 1.5rem $card-spacer-x;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				min-height: 100%;
				background-color: $sky;
			}
		}
		
		&:hover .card-body .info{
			background-color: $primary;
		}
	}
	
	&.card-partner{	
		padding: 0;
		margin-bottom: 30px;
		
		.card-img-top{
			height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 280px;
			
			img{
				max-width: 80%;
				max-height: 80%;
			}
		}
		
		.card-title{
			font-weight: $font-weight-semibold;
		}
	}
	
	&.card-team{
		padding: 0;
		color: $white;
		box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.3);
		margin: 15px 15px 15px 5px;
		
		.card-img-top{
			height: 230px;
			background-position: center center;
			background-size: cover;
			margin-bottom: 0;
		}
		
		.card-header{
			width: 100%;
			padding: 0;
			position: relative;
			
			.info{
				padding: $card-spacer-y $card-spacer-x;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(0,164,223,0.8);
				z-index: 2;
				display: flex;
				justify-content: center;
				flex-direction: column;
				font-size: 0.8rem;
				opacity: 0;
				transition: opacity ease 0.3s;
			}
			
		}
		
		.card-body{
			position: relative;
			width: 100%;
			background-color: $sky;
			padding: $card-spacer-y $card-spacer-x;
			
			.area{
				letter-spacing: 2px;
				font-weight: $font-weight-bold;
				text-transform: uppercase;
				font-size: 0.75rem;
			}
		}
		
		&:hover{
			
			.info{
				opacity: 1;
			}
		}
	}
	
	.card-body{
		padding: 0;
		
		p:last-child{
			margin-bottom: 0;
		}
	}
	
	.card-title{
		letter-spacing: 1px;
	}
}

.titulares {
	
	.item{
		margin-bottom: 25px;
	}
	
	.item.r-border::after{
		display: block;
		position: absolute;
		content: "";
		top: 15%;
		bottom: 15%;
		right: 0;
		width: 1px;
		background-color: #CFCFCF; 
	}
	
}

.info-programas{
	
	p.info{
		max-width: 440px;
	}
}

.programas {
	max-width: 800px;
}

.programas-es {
	
	.item{
		margin-bottom: 25px;
	}
	.item.border-r{
		position: relative;
	}
	.item.r-border::after{
		display: block;
		position: absolute;
		content: "";
		top: 15%;
		bottom: 15%;
		right: 0;
		width: 1px;
		background-color: rgba(255,255,255,0.6);
	}
}

#partners{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	z-index: 2;
	position: relative;
}
.partners{
	
	p.info{
		max-width: 440px;
	}
}

#media{
	max-width: 960px;
	position: relative;
	
	.item{
		opacity: 0;
		z-index: 0;
		transition: opacity 0.3s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		
		&.active{
			position: relative;
			z-index: 5;
			opacity: 1;
		}
		
		iframe{
			height: 100% !important;
			width: 100% !important;
		}
	}
	
	.image-viewer{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		
		img{
			max-height: 500px;
		}
		
		.media-desc{
			padding-top: 15px;
		}
	}
}

.slider-testimonios{
	
	.card{
		border-radius: 5px;
		cursor: pointer;
		
		&:hover{
			background-color: #D3EDF4;
		}
	}
	.card.active{
		background-color: rgba(255,255,255,0.8);
	}
}


.video-preview{
	max-width: 960px;
	
	.preview{
		background-color: $black;
		background-position: center center;
		background-size: cover;
		
		a.play{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $white;
			background-color: rgba(0,0,0,0.3);
			transition: all ease 0.3s;
			
			span{
				display: block;
				width: 90px;
				height: 90px;
				border-radius: 50%;
				background-color: rgba(0,0,0,0.6);
				font-size: 48px;
				text-align: center;
				line-height: 1;
				padding: 21px 0 0 15px;
				transition: all ease 0.3s;
			}
			
			&:hover{
				background-color: rgba(0,0,0,0.5);
				
				span{
					transform: scale(1.2);
				}
			} 
		}
	}
}

.more-info-container{
	display: none;
	overflow: hidden;
}


//iconos de fondo
.bg-icono{
	background-repeat: no-repeat;
}
.bg-perezoso{
		padding-bottom: 30px;
}

@include media-breakpoint-up(md) {
	.bg-bird{
		background-image: url("../img/bird.png");
		background-position:  left 20%;
		background-size: 200px auto;
	}
}

@include media-breakpoint-up(xl) {
	.bg-bird{
		background-size: 250px auto;
	}
	.bg-perezoso{
		padding-bottom: 100px;
		background-image: url("../img/prezoso.png");
		background-position: right 100px bottom;
		background-size: 200px auto;
	}
	.bg-libro{
		background-image: url("../img/libro.png");
		background-position: right 100px top 50px;
		background-size: 200px auto;
	}
	.bg-probeta{
		background-image: url("../img/probeta.png");
		background-position: left 10% bottom 30px;
		background-size: auto 150px;
	}
}
@include media-breakpoint-up(xxl) {
	.bg-probeta{
		background-position: left 15% bottom 30px;
	}
}

/**** SLIDERS ****/
@import "slick/slick";
@import "slick/slick-theme";

.slider > .item{
	opacity: 0;
	position: absolute;
	
	&:first-child{
		position: relative;
	}
}

.slick-prev, .slick-next{
	width: 42px;
	height: 42px;
	
	&:before{
		font-size: 42px;
	}
}

.slider-contacts, .slider-testimonios{
	.slick-prev, .slick-next{
		top: 30%;
	}
}

.slick-prev{
	left: -38px;
}

.slick-next{
	right: -38px;
}


@include media-breakpoint-up(xl) {
    .slider-team{
		.slick-prev{
			left: -60px;
		}
		.slick-next{
			right: -60px;
		}
	}
}



/**** FORM *********/
.form-apply{
	max-width: 400px;
	
	.form-group{
		font-family: $font-third;
		font-weight: bold;
	}
	
	.form-control{
		background-color: transparent;
		color: $white;
		border-color: rgba(255,255,255,0.2);
		font-family: inherit;
		font-weight: 600;
		
		&:focus{
			background-color: rgba(255,255,255,0.2);
		}
	}
	
	.animate-label{
		position: relative;
		padding-top: 7px;
		
		label{
			position: absolute;
			display: block;
			top: 7px;
			left: 0;
			font-family: inherit;
			font-weight: inherit;
			text-transform: uppercase;
			padding: $input-padding-y $input-padding-x;
			margin-bottom: 0;
			line-height: $input-line-height;
			transition: all ease 0.2s;
			z-index: 0;
			border-radius: 2px;
		}
		
		&.label-top label{
			opacity: 1;
			top: 0;
			font-size: 0.55em;
			padding: 2px 5px;
			left: 5px;
			background-color: $primary;
			line-height: 1;
			color: rgba(255,255,255,0.8);
			z-index: 3;
			letter-spacing: 1px;
		}
		
		.form-control{
			position: relative;
			z-index: 2;
			
			option{
				background-color: #07568C;
			}
			
			&::placeholder{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	
	.aviso-validacion{
		display: none;
	}
	
	.was-validated{
		
		.aviso-validacion{
			display: block;
		}
	}
	
	.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, 
	.custom-control-input.is-valid:checked ~ .custom-control-label::before{
		border-color: $custom-control-indicator-checked-border-color;
		background-color: $custom-control-indicator-checked-bg;
	}
	
	.info-acepto{
		font-size: 0.7em;
	}
}

#footer{
	font-size: 0.9em;
	
	.logo-footer{
		width: 50px;
	}
	
	p{
		margin-bottom: 0.5em;
	}
	
	a{
		color: inherit !important;
	}
	
	.redes a{
		
		display: inline-block;
		vertical-align: middle;
		font-size: 24px;
		margin: 0 5px 0 0;
	}
	
	.btn{
		text-transform: none;
		
		&:hover{
			color: $sky !important;
		}
	}
}


/** PAGINA DE IDIOMA **/
#hdr.no-menu{
	padding-bottom: 0 !important;
}

.box-landing{
	position: relative;
	
	.slick-slider{
		margin-bottom: 0;
	}
	
	.slick-dots{
		bottom: 15px;
		
		button::before{
			background-color: white;
			content: "";
			border-radius: 50%;
			width: 15px;
			height: 15px;
		}
	}
	
	.item{
		min-height: 300px;
	}
	
	.bg-overlay::before{
		display: block;
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.4) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.4) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.4) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#66000000',GradientType=0 );
	}
	
	.bg-cover{
		background-size: cover;
		background-position: center center;
	}
	
	.info-content{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 40px;
		
		.inner{
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
		}
		
		.btns .btn{
			padding: 5px !important;
			min-width: 154px;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			letter-spacing: 0;
			border-radius: 5px;
			font-weight: $font-weight-semibold;
			font-size: 0.9em;
			margin-top: 10px;
			min-height: 32px;
		}
		
		@include media-breakpoint-up(md) {
			.btns .btn{
				min-height: 44px;
			}

		}
	}
	
	
}
